:root {
    --skin: #f4e6d1;
    --eyes: #4c4c4c;
    --nose: #ff6343;
    --border: #391b00;
    --blush: #f892739f;
    --hair: #0e0606;
    --roupa: rgb(207, 148, 161);
}

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(253, 255, 248);

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    z-index: -3;
}

.frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 70vmin;
    height: 70vmin;

    border-radius: 1vmin;
    box-shadow: 1vmin 4vmin 8vmin 0 rgba(0, 0, 0, 0.1);

    overflow: hidden;
    background: #8eb37a;
    color: #333;
    z-index: -2;
    position: relative;
}

.head {
    width: 42vmin;
    height: 40vmin;
    background-color: var(--skin);

    border-radius: 40%;
    box-shadow: 0vmin 1vmin 3vmin 1vmin#33333314;

    position: relative;
    top: 16vmin;

    z-index: 1;
}


.left-ear,
.right-ear {
    width: 7vmin;
    height: 10vmin;
    background-color: var(--skin);

    position: absolute;
    bottom: 26vmin;
    z-index: -3;
}

.left-ear {
    left: 9vmin;

    border-radius: 100% 100% 40% 100%;
    transform: rotate(-2deg);
}

.right-ear {
    right: 9vmin;

    border-radius: 100% 100% 100% 40%;
    transform: rotate(2deg);
}


.neck {
    width: 10vmin;
    height: 13vmin;
    background-color: var(--skin);

    position: relative;
    top: 11vmin;

    border-radius: 0% 0% 45% 45%;
}

.left-eye-background,
.right-eye-background {
    width: 9vmin;
    height: 9vmin;
    background-color: white;

    position: absolute;
}

.left-eye-background {
    top: 15vmin;
    left: 6vmin;

    border-radius: 60% 100% 20% 80%;
}

.right-eye-background {
    top: 15vmin;
    right: 6vmin;

    border-radius: 100% 60% 80% 20%;
}

.left-eye,
.right-eye {
    width: 9vmin;
    height: 8vmin;
    background-color: transparent;
    border: 0.5vmin solid var(--border);

    position: absolute;
    overflow: hidden;
    z-index: 1;
}

.left-eye {
    border-radius: 60% 100% 20% 80%;
}

.right-eye {
    border-radius: 100% 60% 80% 20%;
}

.left-iris,
.right-iris {
    width: 8vmin;
    height: 9vmin;
    background-color: var(--eyes);

    border-radius: 100%;

    position: absolute;
    left: 26%;

    z-index: -1;
}

.left-pupil,
.right-pupil {
    width: 2.5vmin;
    height: 3.5vmin;
    background-color: black;

    border-radius: 50%;

    position: absolute;
    left: 40%;
}

.left-pupil {
    top: 30%;
}

.right-pupil {
    top: 28%;
}


.left-eyelashe {
    width: 0.6vmin;
    height: 2vmin;
    background-color: var(--border);

    border-radius: 50%;

    position: absolute;
    transform: rotate(-40deg);
}

.left-eyelashe:nth-child(1){
    top: 16vmin;
    left: 5.5vmin;

}

.left-eyelashe:nth-child(2){
    top: 14.2vmin;
    left: 7vmin;
}

.right-eyelashe {
    width: 0.6vmin;
    height: 2vmin;
    background-color: var(--border);

    border-radius: 50%;

    position: absolute;
    transform: rotate(40deg);
}

.right-eyelashe:nth-child(1){
    top: 16vmin;
    right: 5.5vmin;
}

.right-eyelashe:nth-child(2){
    top: 14.2vmin;
    right: 7vmin;
}


.nose {
    width: 5vmin;
    height: 3vmin;
    background-color: var(--nose);

    border-radius: 80% 80% 100% 100%;

    position: absolute;
    top: 22.5vmin;
    left: 18.5vmin;
}

.nose-bright {
    width: 35%;
    height: 30%;
    background-color: rgba(255, 255, 255, 0.795);

    border-radius: 80% 80% 100% 100%;

    position: relative;
    top: 25%;
    left: 55%;

    filter: blur(0.7vmin);
}


.mouth {
    width: 8vmin;
    height: 3vmin;
    background-color: transparent;

    border-bottom: 0.5vmin solid var(--border);

    border-radius: 50%;

    position: absolute;
    top: 26.5vmin;
    left: 17vmin;
}


.left-blush,
.right-blush {
    width: 5vmin;
    height: 3.5vmin;
    background-color: var(--blush);

    filter: blur(0.1vmin);
    border-radius: 100%;

    position: absolute;
    top: 27vmin;
}

.left-blush {
    left: 4vmin;
}

.right-blush {
    left: 32vmin;
}


.body {
    width: 35vmin;
    height: 20vmin;
    background-color: var(--roupa);

    position: relative;
    top: 5vmin;
    border-radius: 50% 50% 0 0;

    z-index: -1;
}