:root {
    --skin: #f4e6d1;
    --eyes: #4c4c4c;
    --nose: #ff6343;
    --border: #391b00;
    --blush: #f8927338;
    --hair: #0e0606;
    --shirt: rgb(248, 170, 51);
}

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(253, 255, 248);

    display: flex;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    z-index: -3;
}

.frame {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 70vmin;
    height: 70vmin;

    border-radius: 1vmin;
    box-shadow: 1vmin 4vmin 8vmin 0 rgba(0, 0, 0, 0.1);

    overflow: hidden;
    background: #8eb37a;
    color: #333;
    z-index: -2;
    position: relative;
}

.head {
    width: 42vmin;
    height: 40vmin;
    background-color: var(--skin);

    border-radius: 40%;
    box-shadow: 0vmin 1vmin 3vmin 1vmin#33333317;

    position: absolute;
    top: 16vmin;

    z-index: 2;
}

.left-ear,
.right-ear {
    width: 7vmin;
    height: 10vmin;
    background-color: var(--skin);

    position: absolute;
    bottom: 26vmin;
    z-index: -3;
}

.left-ear {
    left: 9vmin;

    border-radius: 100% 100% 40% 100%;
    transform: rotate(-2deg);
}

.right-ear {
    right: 9vmin;

    border-radius: 100% 100% 100% 40%;
    transform: rotate(2deg);
}

.neck {
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1;
}

.neck-top {
    width: 10vmin;
    height: 4vmin;
    background-color: var(--skin);
    border-radius: 10%;

    position: absolute;
    bottom: 11vmin;
}

.neck-bottom {
    width: 0;
    height: 0;

    border-left: 4.9vmin solid transparent;
    border-right: 4.9vmin solid transparent;
    border-top: 4vmin solid var(--skin);

    position: absolute;
    bottom: 7.1vmin;

    z-index: 5;
}


.left-eye,
.right-eye {
    width: 9vmin;
    height: 8vmin;
    background-color: rgb(255, 255, 255);
    border: 0.5vmin solid var(--border);

    position: absolute;

    overflow: hidden;
    z-index: 1;
}

.left-eye {
    top: 15vmin;
    left: 6vmin;

    border-radius: 70% 100% 40% 80%;

    border-top: 0.6vmin solid var(--border);
    border-right: 0.4vmin solid var(--border);
    border-bottom: 0.4vmin solid var(--border);
    border-left: 0.6vmin solid var(--border);

    transform: rotate(-3deg);
}

.right-eye {
    top: 15vmin;
    right: 6vmin;

    border-radius: 100% 70% 80% 40%;


    border-top: 0.6vmin solid var(--border);
    border-right: 0.6vmin solid var(--border);
    border-bottom: 0.4vmin solid var(--border);
    border-left: 0.4vmin solid var(--border);

    transform: rotate(3deg);
}

.left-iris,
.right-iris {
    width: 8vmin;
    height: 9vmin;
    background-color: var(--eyes);

    border-radius: 100%;

    position: absolute;
    left: 26%;

    z-index: -1;
}

.left-pupil,
.right-pupil {
    width: 2.5vmin;
    height: 3.5vmin;
    background-color: black;

    border-radius: 50%;

    position: absolute;
    left: 40%;
}

.left-pupil {
    top: 30%;
}

.right-pupil {
    top: 28%;
}


.left-eyelashes {
    width: 0.6vmin;
    height: 2vmin;
    background-color: var(--border);

    border-radius: 50%;

    position: absolute;
    transform: rotate(-40deg);
}

.left-eyelashes:nth-child(1) {
    top: 16vmin;
    left: 5.5vmin;

}

.left-eyelashes:nth-child(2) {
    top: 14.2vmin;
    left: 7vmin;
}

.right-eyelashes {
    width: 0.6vmin;
    height: 2vmin;
    background-color: var(--border);

    border-radius: 50%;

    position: absolute;
    transform: rotate(40deg);
}

.right-eyelashes:nth-child(1) {
    top: 16vmin;
    right: 5.4vmin;
}

.right-eyelashes:nth-child(2) {
    top: 14.2vmin;
    right: 6.8vmin;
}


.nose {
    width: 5vmin;
    height: 3vmin;
    background-color: var(--nose);

    border-radius: 80% 80% 100% 100%;

    position: absolute;
    top: 22.5vmin;
    left: 18.5vmin;
}

.nose-bright {
    width: 35%;
    height: 30%;
    background-color: rgba(255, 255, 255, 0.795);

    border-radius: 80% 80% 100% 100%;

    position: relative;
    top: 25%;
    left: 55%;

    filter: blur(0.7vmin);
}


.mouth {
    background: transparent;
    width: 10vmin;
    height: 4vmin;

    border-radius: 50%;
    box-shadow: 0vmin 0.7vmin var(--border);

    position: absolute;
    bottom: 11vmin;
    left: 16vmin;
}


.left-blush,
.right-blush {
    width: 5vmin;
    height: 3.5vmin;
    background-color: var(--blush);

    filter: blur(0.1vmin);
    border-radius: 100%;

    position: absolute;
    top: 27vmin;
}

.left-blush {
    left: 4vmin;
}

.right-blush {
    left: 32vmin;
}


.body {
    width: 35vmin;
    height: 13vmin;
    background-color: transparent;

    position: absolute;
    bottom: 0vmin;

    z-index: -1;
}

.shirt {
    width: 20vmin;
    height: 13vmin;
    background-color: var(--shirt);

    position: absolute;
    bottom: 0vmin;
    left: 8vmin;

    border-radius: 50% 50% 0% 0%;

}


.left-shoulder,
.right-shoulder {
    width: 8vmin;
    height: 6vmin;
    background-color: var(--shirt);

    border-radius: 27%;

    position: absolute;
    bottom: 6.5vmin;
}

.left-shoulder {
    left: 7vmin;
    transform: rotate(-10deg);
}

.right-shoulder {
    right: 7vmin;
    transform: rotate(10deg);
}


.left-arm,
.right-arm {
    width: 6.4vmin;
    height: 15vmin;
    background-color: var(--shirt);

    position: absolute;
    bottom: -3vmin;
}

.left-arm {
    left: 3.8vmin;
    border-radius: 20% 0% 0% 0%;
    transform: rotate(28deg);
}

.right-arm {
    border-radius: 0% 20% 0% 0%;
    transform: rotate(-28deg);
    right: 3.6vmin;
}